<div class="container mt-3">
    <%= form_tag("/tags/#{@tag.id}/update") do %>
    <div class="form">
        <div class="form-body">
            <div class="form-group">
                <label for="url">タグ名:</label>
                <input type="text" id="name" name="name_form" class="form-control" autocomplete="off" value="<%=@tag.name%>">
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
    <% end %>


    <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#modal1">
        削除
    </button>
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label1">タグ"<%=@tag.name%>"を削除します</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    タグ"<%=@tag.name%>"を本当に削除しますか？削除後はもとに戻すことはできません。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <%= link_to("/tags/#{@tag.id}/destroy", {method: "post"}) do %>
                    <button type="submit button" class="btn btn-danger">削除する</button>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

</div>