<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= link_to("新規", "/posts/new")%>
<% @posts.each do |post| %>
<p><%= post.comment %></p>
<% end %>

<%= @twitter_html.html_safe %>
<!-- もはやTwitterに限る必要性のなさ-->
<%= OEmbed::Providers.get('http://www.youtube.com/watch?v=2BYXBC8WQ5k').html.html_safe%>
<%= OEmbed::Providers.get('https://twitter.com/TwitterJP/status/1329986158193872899?s=20').html.html_safe%>