<div class="container mt-3">
    <div class="row">
        <div class="col-xs-3 m-3">
            <%= link_to("/posts/new") do %>
            <button type="submit" class="btn btn-primary">新規投稿</button>
            <% end %>
        </div>
        <div class="col-xs-3 m-3">
            <%= form_tag("/posts/index", method: :get) do %>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" placeholder="username" name="tweet_sender" value="<%= @tweet_sender%>">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary"> 検索 </button>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="card-columns mt-3" style="columns: 2">
        <% @posts.each do |post| %>
        <div class="card bg-light">
            <div class="card-body">
                <%= simple_format(post.comment) %>
                <% if post.embed %>
                <%= post.embed %>
                <% end %>
                <div class="text-right">
                    <small><%= 
                        msg = post.updated_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M")
                        link_to(msg, "/posts/#{post.id}/edit", class: "text-muted")
                    %></small>
                </div>

            </div>
        </div>
        <% end %>
    </div>

</div>