<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= link_to("新規", "/posts/new")%>
<% @posts.each do |post| %>
<div class="post">
    <p>ID: <%= post.id %></p>
    <p>URL: <%= post.url %></p>
    <p>コメント: <%= post.comment %></p>
    <p>埋め込みコンテンツ</p>
    <p> <%=
     if post.embed 
        post.embed
     else 
        "なし"
     end
     %>
</div>
<% end %>