<div class="container mt-3">
    <p class="alert alert-info">Sample URL: https://twitter.com/TwitterJP/status/1329986158193872899?s=20 </p>

    <%= form_tag("/posts/create") do %>
    <div class="form">
        <div class="form-body">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" id="url" name="url_form" class="form-control" autocomplete="off" value="<%=@url%>">
            </div>
            <div class="form-group">
                <label for="comment">コメント:</label>
                <textarea id="comment" name="comment" class="form-control"><%=@comment%></textarea>
            </div>
            <button type="submit" class="btn btn-primary">新規</button>
        </div>
    </div>
    <% end %>


    <div id="embed">
        <p><%= @url %></p>
        <%= @embed %>
        <p><%= @error_msg %></p>
    </div>

</div>
<script type="text/javascript">
    $(function() {
        $url = $("#url")
        $url.change(function() {
            const url = $url.val()
            if (url !== "") {
                location.href = "/posts/new?url=" + url;
            }
        })
    });
</script>